@import './variables.scss';

:root {
    scroll-behavior: smooth;
    body {
        background-color: $body-color;
        margin: 0;
        font-family: $body-font;
        color: $text-color;
    }
}
.root-container {
    background-color: $card-color;
    max-width: 600px;
    width: 100%;
    margin: auto;
    min-height: 120vh;
    padding-bottom: 5vh;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
}