@import './variables';

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .header__para {
        margin-top: 0;
        font-style: italic;
        padding-left: 1rem;
    }
    .heading {
        font-family: $heading-font;
        color: $heading-color;
        line-height: 0.8
    }
}
// Header is responsive