@import './variables';

// A mixin to reuse button styles
@mixin button($class, $background, $box-shadow-color, $padding: 0.4rem 2.25rem) {
    .#{$class} {
      background-color: $background;
      // box-shadow: 0 5px 0 $box-shadow-color;
      color: white;
      padding: $padding;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color 0.3s ease-in-out;
      font-weight: 600;
      border-radius: 4px;
      @content;
      &:hover {
        background-color: lighten($background, 10%);
        cursor: pointer;
      }
      &:active {
        box-shadow: none;
        top: 5px;
      }
    }
}

@mixin input-text($width) {
  max-width: $width;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #444;
  line-height: 1.3;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}