$body-color: #A0D1FE; // background for body
$card-color: #F2F6FD; //background for individual cards
$root-color: #A6A3B0; // background for root element
$text-color: #445EAE; // color of texts
$heading-color: #191E3D;
$secondary-color: #3DC5B0;
$tertiary-color: #DE7C4A;
$heading-font: 'Poppins', sans-serif;
$body-font: 'PT Serif', serif;
$button-color: #1133E1 ;
$checked-todo: #888888;


